.dropdown-control {
    &:active {
      pointer-events: none; /* Disable pointer events on the active state */
    }
  }
.Ingredient{
    padding-left: 5%;
    width: 60%;
    float: left;
}
.header{
    padding-right: 80%;
    width: 100%;
    margin-bottom: 20px;
}
.zero-ingredients{
    border-radius: 10px;
    color:#9B2D2B;
    background-color: #FFF4E1;
    height: 200px;
    padding-top: 10%;
}
.minus {
    margin-top: -26%;
}
.delete-ingredient{
    border: 1px solid #9B2D2B;
    border-radius: 100%;
    color:#9B2D2B;
    float:left;
    width: 2%;
    margin-left: 1%;
    height: 60%;
    margin-top: 0.7%;
}
.delete-ingredient:hover{
    border: 1px solid #9B2D2B;
    background-color: #9B2D2B;
    border-radius: 100%;
    color:white;
    float:left;
    width: 2%;
    margin-left: 1%;
    height: 60%;
    margin-top: 0.7%;
}
.Quantity{
    padding-left: 10%;
    width: 20%;
    float: right;
}
.IngredientRow{
    margin-bottom: 7px;
    height: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.close-button{
    margin-top: 20px;
}
.range-button{
    text-align: center;
}
.current-range{
    width: 100%;

    margin-top: 20px;
}
.date-button{
    color: #9B2D2B;
    background-color: white;
    border: 2px solid #9B2D2B;
    border-radius: 25px;
    margin-top: 20px;
}
.date-button:hover{
    color: white;
    background-color: #9B2D2B;
    border-radius: 25px;
    margin-top: 20px;
}
.add-button:hover{
    color: white;
    background-color: #9B2D2B;
    border-radius: 25px;
    width: 15%;
    margin-left: 43%;
    margin-top: 20px;
  }
.add-button{
    color: #9B2D2B;
    background-color: white;
    border: 2px solid #9B2D2B;
    border-radius: 25px;
    width: 15%;
    margin-left: 43%;
    margin-top: 20px;
}
.custom-input{
    height: 42px;
    width: 90%;
}
.name-select{
    width: 30%;
}
.quantity-select{
    width: 30%;
}
.unit-select{
    width: 30%;
}
.popup{
    text-align: center;
    width: 100%
}
.add-ingredient{
    text-align: center;
}